# Fold a selection of candidates on the raw data.

[raw_data]
# Glob string to parse raw data file(s) (filterbank or PSRFITS)
glob_data = guppi_58702_18407_BLGCsurvey_Cband_A00_0025.fil
DATA_DIR = /ocean/projects/phy200034p/akshay2/BLGC/Data ; Path to raw data file(s)

[accel_sift]
#  Name (including path) of accelsift file
accelsift_txt = /ocean/projects/phy200034p/akshay2/BLGC/Rmed/A00_58702_0025/guppi_58702_18407_BLGCsurvey_Cband_A00_0025_rmed0.25_ACCEL_0.txt

[selected_cands]
cand_basename = guppi_58702_18407_BLGCsurvey_Cband_A00_0025 ; Glob string of candidates selected for folding
# Path to .png files of candidates selected for folding on raw data based on their folded time series profiles.
candfiles_path = /ocean/projects/phy200034p/akshay2/BLGC/Selected_cands/A00_58702_0025

[rawfold]
num_phasebins = 64 ; No. of phase bins across folded profile
N_subbands = 256 ; No. of subbands used for folding and dedispersion
other_foldparams = -zerodm ; Other prepfold parameters to be specified.
#  Path to which prepfold products must be written (created if non-existent)
FOLD_DIR = /ocean/projects/phy200034p/akshay2/BLGC/Rawdata_fold/A00_58702_0025

[rfimask]
# Supply rfifind mask to prepfold.
maskfile = ocean/projects/phy200034p/akshay2/BLGC/Rfimask/guppi_58702_18407_BLGCsurvey_Cband_A00_0025_rfifind.mask
