# Fold a selection of candidates on the raw data.

[raw_data]
# Glob string to parse raw data file(s) (filterbank or PSRFITS)
glob_data = vegas_59246_16641_NVSS595_0002_*.fits
DATA_DIR = /ocean/projects/phy200034p/akshay2/VLASS/S1/NVSS595/Data ; Path to raw data file(s)

[accel_sift]
#  Name (including path) of accelsift file
accelsift_txt = /ocean/projects/phy200034p/akshay2/Test/T1/vegas_59246_16641_NVSS595_0002_ACCEL_0.txt

[selected_cands]
cand_basename = vegas_59246_16641_NVSS595_0002 ; Glob string of candidates selected for folding
# Path to .png files of candidates selected for folding on raw data based on their folded time series profiles.
candfiles_path = /ocean/projects/phy200034p/akshay2/Test/Cand1

[rawfold]
num_phasebins = 256 ; No. of phase bins across folded profile
N_subbands = 256 ; No. of subbands used for folding and dedispersion
other_foldparams = -zerodm ; Other prepfold parameters to be specified.
#  Path to which prepfold products must be written (created if non-existent)
FOLD_DIR = /ocean/projects/phy200034p/akshay2/Test/Rawdata_fold/zmax0_wmax0/RF3

[rfimask]
# Supply rfifind mask to prepfold.
maskfile = /ocean/projects/phy200034p/akshay2/VLASS/S1/NVSS595/Rfimask/vegas_59246_16641_NVSS595_0002_rfifind.mask
